/*Estilos de presentación*/
#fondoBienvenida {
    background-image: url(./IMAGENES/Central/imagenCentral.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Estilos de cartas generales*/
.cardGenerales{
    border: none;
    background-color: transparent;
    padding: 1em;
    margin: none;
    color: white;
    text-align: justify;
}

/*Medias query*/
@media screen and (min-width:480px) and (max-width:940px) {
    .cardGenerales{
        color: black;
    }
    #contenedorBienvenida {
        margin-right: 65%;
    }
}
@media screen and (min-width:941px) and (max-width:1300px) {
    #fondoBienvenida{
        height: 100%;
    }
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-left: 55%;
    }
    .contenedorTexto{
        margin-left: 3rem;
        
    }
    
}
@media screen and (min-width:1301px) {
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-left: 60%;
    }
    .contenedorTexto{
        margin: 4rem;
    }
}